mat-card{
max-width: 80%;
margin: 2em auto;
text-align: center;
}

.column-flex{
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

mat-toolbar {
  background-color: #3f51b5;
  color: white;
}
.loading-spinner {

  padding: 25px;
  background: rgba(43, 41, 41, 0.233);
  display: flex;
  justify-content: center;
  align-items: center;

}
